form {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
}

form label {
    color: var(--cor-texto);
    font-size: 1.2rem;
}

input, textarea, select {
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: var(--arredondamento-borda);
    font-size: 1.4rem;
    transition: border 0.3s ease;
}

textarea {
    min-height: 8rem;
}

select {
    background-color: white;
}

input:focus, textarea:focus {
    border-color: var(--cor-primaria);
    outline: none;
}

.rodape-form {
    display: flex;
    flex: 1 1 100%;
    justify-content: flex-end;
    flex-direction: row;
    gap: 1rem;
}

button[type="submit"] {
    background-color: var(--cor-primaria);
    color: var(--cor-clara);
    border: none;
    width: auto;
    padding: 0.75rem;
    font-size: 1.4rem;
    font-weight: bold;
    border-radius: var(--arredondamento-borda);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button[type="submit"]:hover {
    background-color: var(--cor-secundaria);
    transform: translateY(-2px);
}

button[type="submit"]:active {
    background-color: var(--cor-destaque-texto);
    transform: translateY(0);
}

button[type="submit"]:focus {
    outline: 3px solid var(--cor-clara);
    outline-offset: 2px;
}


.botao-cancelar {
    background-color: var(--cor-clara);
    color: var(--cor-primaria);
    border: 2px solid var(--cor-primaria);
    width: auto;
    padding: 0.75rem;
    font-size: 1.4rem;
    font-weight: bold;
    border-radius: var(--arredondamento-borda);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease, color 0.3s ease;
}

.botao-cancelar:hover {
    background-color: var(--cor-error);
    color: var(--cor-clara);
    transform: translateY(-2px);
}

.botao-cancelar:active {
    background-color: var(--cor-secundaria);
    color: var(--cor-clara);
    transform: translateY(0);
}

.botao-cancelar:focus {
    outline: 3px solid var(--cor-primaria);
    outline-offset: 2px;
}