@import url('global.css');

#cadastro-produto {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: var(--arredondamento-borda);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    margin: 2rem;
    min-height: 90vh;
    padding-left: 5rem;
}

#cadastro-produto form {
    margin-top: 5rem;
    justify-content: center;
    align-items: center;
    max-width: 80%;

}

#cadastro-produto .input-item, .textarea-item {
    flex: 1 1 60rem;
}

#cadastro-produto button {
    max-width: 30rem;
}