<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block titulo %} {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='componentes/mensagem-flash.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='componentes/sidebar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='base-template/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='global.css') }}">
    {% block head %} {% endblock %}
</head>

<body>
    <div class="container">
        <header class="header">
            <h1>Stock Control</h1>
        </header>

        <aside class="sidebar">
            <nav>
                <ul>
                    <li>
                        <input type="checkbox" id="produto-toggle" />
                        <label for="produto-toggle" class="menu-label">Produtos</label>
                        <div class="submenu">
                            <a href="/produto/cadastrar">Cadastrar Produto</a>
                            <a href="/produto/consultar">Consultar Produto</a>
                        </div>
                    </li>
                    <li>
                        <input type="checkbox" id="movimentacao-toggle" />
                        <label for="movimentacao-toggle" class="menu-label">Movimentações</label>
                        <div class="submenu">
                            <a href="/movimentacao/registrar">Registrar Movimento</a>
                            <a href="/movimentacao/consultar">Consultar Movimento</a>
                        </div>
                    </li>
                    <li><a href="#">Usuários</a></li>
                </ul>

            </nav>
        </aside>

        <main class="main-content">
            {% with mensagens = get_flashed_messages(with_categories=true) %}
                {% if mensagens %}
                    <div id="flash-container">
                        {% for categoria, msg in mensagens %}
                            <div class="flash {{ categoria }}">{{ msg }}</div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
            {% block conteudo %}
            {% endblock %}
        </main>
    </div>
</body>

</html>