{% import 'componentes/tabela-dados.html' as macro_tb_rs %}
{% extends "base-template/base.html" %}

{% block titulo %}Consulta Movimentação - Stock Control{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='consultar-movimentacao.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='componentes/form.css') }}">
{% endblock %}

{% block conteudo %}
    <section id="consulta-movimentacao">
        <h2>Consulta Movimentação</h2>
        <form action="{{ url_for('movimentacao.consultar_movimento') }}" method="post" id="form-consulta">
            <div class="input-item">
                <label for="idProduto">Nome Produto</label>
                <select name="idProduto" id="idProduto"></select>
            </div>
            <div class="input-item">
                <label for="quantiaMovimentada">Quantia Movimentada</label>
                <input type="number" name="quantiaMovimentada" id="quantiaMovimentada" placeholder="Quantia movimentada">
            </div>
            <div class="input-item">
                <label for="dataMovimentacao">Data Movimentacao</label>
                <input type="date" name="dataMovimentacao" id="dataMovimentacao">
            </div>
            <div class="input-item">
                <label for="idTipoMovimento">Tipo Movimento</label>
                <select name="idTipoMovimento" id="idTipoMovimento"></select>
            </div>
            <div class="rodape-form">
                <button type="submit">Consultar</button>
            </div>
        </form>
        <section id="resultado">
            {% if movimentos %}
                <h2>Resultados</h2>
                {{ macro_tb_rs.tabela_dados(["idMovimentacao","idProduto", "quantiaMovimentada", "dataMovimentacao", "idTipoMovimento", "dataCadastro", "idUsuario"], movimentos) }}
            {% elif movimentos is not none %}
                <h2>Resultados</h2>
                <p>Nenhum movimento encontrado.</p>
            {% endif %}
        </section>
        {% include 'componentes/form-editar-produto.html' %}
    </section>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="{{ url_for('static', filename='scripts/select2.js') }}"></script>
    <script>
        iniciarSelect2('#idProduto', 'Selecione o produto', propriedadesAjaxSelect2.produtos)
        iniciarSelect2('#idTipoMovimento', 'Selecione o tipo movimento', propriedadesAjaxSelect2.tiposMovimento)
    </script>
{% endblock %}