<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block titulo %} {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base-template/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='global.css') }}">
    {% block head %} {% endblock %}
</head>

<body>
    {% include "componentes/alerta-flash.html" %}
    <div class="container">
        <header class="header">
            <h1>Stock Control</h1>
        </header>

        {% include "componentes/barra-lateral.html" %}

        <main class="main-content">
            {% block conteudo %}
            {% endblock %}
        </main>
    </div>
</body>

</html>